<ion-view title="">
    <ion-nav-bar class="bar-header bar-positive">
    </ion-nav-bar>
    <ion-content class="padding">
        <div class="list card padding">
            <label class="item item-input">
                <span class="input-label">Email</span>
                <input type="email" ng-model="user.email">
            </label>
            <label class="item item-input">
                <span class="input-label">Password</span>
                <input type="password" ng-model="user.pwdForLogin">
            </label>
            <button ng-click="signIn(user)" class="button button-block button-balanced activated">
                Sign In
            </button>
        </div>
        <div class="list" style="text-align:center">
            <button ng-click="modal.show()" class="button button-small button-outline icon-left ion-person-add button-positive">
                Create New Account
            </button>
        </div>
        <div class="list" style="text-align:center">
            <button ng-click="loginSocial('facebook')" class="button button-small icon-left ion-social-facebook button-positive">
                Sign in with Facebook
            </button>
            <button ng-click="loginSocial('google')" class="button button-small icon-left ion-social-google-outline button-assertive">
                Sign in with Google
            </button>
        </div>
        <div class="list" style="text-align:center">
            <a href="#/forgot" class="button button-clear button-positive">
                Forgot Password?
            </a>
        </div>
    </ion-content>
</ion-view>
